body {
  font-family: Tahoma, Geneva, sans-serif;
}

#flipboard {
  font-size: 0;
}

  #flipboard button {
    border: 1px solid white;
    background-color: skyblue;
  }

    #flipboard button:focus {
      outline: none;
    }

    #flipboard button.hilight {
      background-color: red;
    }
